@using Microsoft.AspNetCore.Components.Authorization;

@inject NavigationManager UriHelper

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized Context="OnInitialized" />
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        if(UriHelper.Uri.IndexOf("credentials") == -1)
        {
            UriHelper.NavigateTo("/login");
        }
    }
}
