@using LT.DigitalOffice.GUI.Services.Interfaces;

@inject IMessageService _messageService;
@inject IChatHub _chatHub;


<EditForm Model="@_request" OnValidSubmit="@SendMessageAsync">
    <div class="create-message_container">
        <div class="create-message_textarea">
            <textarea @bind="_request.Content"
                      class="form-control" placeholder="Type message here" />
        </div>

        <div class="create-message_actions-container">
            <div><p>here will be message settings and attchments</p></div>
            <button type="submit" class="btn btn-outline-dark" id="send-message_btn">
                send
            </button>  
        </div>
    </div>
</EditForm>