
.found-employes-content {
    float: left;
    width: 30%;
}

.selected-employes-content  {
    float: right;
    width: 30%;
}

.managed-employes {
    display: inline-grid;
    margin-top: 20vh;
    margin-left: 14%;
    width: 12%;
}

.managed-employes button:first-child {
    margin-bottom: 10px;
}

input {
    color: #f1f1f1;

    width: 45%;

    margin-bottom: 25px;

    border: none;
    background-color: #E9E9E9;
}

div[id="action-buttons"] {
    margin-top: 28px;
    float: right;
    width: 34%;
}

div[id="action-buttons"] button{
    width: 48%;
}