@using LT.DigitalOffice.GUI.Services.ApiClients.ProjectService

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        
        <h5 class="modal-title" id="exampleModalLongTitle">Creation project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">

        @if (_isShowEmployeesForm)
        {
            <AddEmployes @bind-IsShowEmployeesForm="@_isShowEmployeesForm" @bind-ProjectRequest="@request" />
        }
        else
        {
            <GeneralInfo @bind-IsShowEmployeesForm="@_isShowEmployeesForm" @bind-ProjectRequest="@request"/>
        }

      </div>

      <div class="modal-footer">
        
      </div>

    </div>
  </div>
</div>

@code{
  private bool _isShowEmployeesForm;
  private ProjectRequest request;
}