<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        
        <h5 class="modal-title" id="exampleModalLongTitle">Creation project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">

        @if (_isShowNextContent)
        {
                    <AddEmployes />
        }
        else
        {
                    <GeneralInfo />
        }

      </div>

      <div class="modal-footer">

        @* @if (_isShowNextContent)
        { *@
          <button type="button" class="btn btn-primary" @onclick="() => _isShowNextContent = !_isShowNextContent">Back</button>
        @* } *@

        <button type="button" class="btn btn-primary" @onclick="() => _isShowNextContent = !_isShowNextContent">@(_isShowNextContent ? "Finish" : "Next")</button>
      </div>

    </div>
  </div>
</div>

@code{
  private bool _isShowNextContent;

}