<p class="general-info-title" >General information</p>

<div style="display: flow-root; margin-bottom: 25px;">

    <div class="additional-content">

        <label for="fullName">
            Full name <font color="red">*</font>
        </label>
        <input id="fullName" type="text" class="form-control" placeholder="Insert project full name"
            aria-label="Username" aria-describedby="basic-addon1">

        <div class="short-description-input">
            <lable for="shortDescription">
                Short description
            </lable>
            <textarea id="shortDescription" rows="5" placeholder="Insert project short description" class="form-control"
                aria-label="With textarea">
            </textarea>
        </div>

    </div>

    <div class="main-content">
        <label for="shortName">
            Short name <font color="red">*</font>
        </label>
        <input id="shortName" type="text" class="form-control" placeholder="Insert project full name"
            aria-label="Username" aria-describedby="basic-addon1">

        <div style="display:grid">

            <label for="department">
                Status <font color="red">*</font>
            </label>

            <div id="department" class="btn-group">

                <button id="dropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    @(_departmentValue ?? "Select project status")
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => _departmentValue = "Active")">Active</a>
                    <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => _departmentValue = "Closed")">Closed</a>
                    <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => _departmentValue = "Suspend")">Suspend</a>
                </div>

            </div>

        </div>

        <div class="department-input">

            <label for="department">
                Department <font color="red">*</font>
            </label>

            <div id="department" class="btn-group">

                <button id="dropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Select department
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)">Department name</a>
                    <a class="dropdown-item" href="javascript:void(0)">Department name</a>
                    <a class="dropdown-item" href="javascript:void(0)">Department name</a>
                    <a class="dropdown-item" href="javascript:void(0)">Department name</a>
                </div>

            </div>

        </div>

    </div>

</div>

<lable for="description">
    Description
</lable>
<textarea id="description" placeholder="Insert project description" class="form-control" aria-label="With textarea"
    rows="4">
</textarea>

@code {
    private string _departmentValue;
}