input, textarea, button[id="dropdown"] {
    background-color: #f1f1f1;
    color: #6c757d;
    border: none;
}

.main-content {
    float: right;
    width: 36%;
}

label {
    margin-bottom: 5px;
}

.additional-content {
    float: left;
    width: 45%;
}

button[id="dropdown"] {
    width: -webkit-fill-available;
    text-align: left;
}

button[id="dropdown"]:active {
    background-color: #7ac7ff;
}

.dropdown-menu {
    width: -webkit-fill-available;
}

.dropdown-toggle::after {
    margin-top: 4%;
    float: right;
}

div[id="fullName"], div[id="shortName"]{
    margin-bottom: 25px;
}

div[id="fullName"] p, 
div[id="shortName"] p,
div[id="status"] p , 
div[id="department"] p {
    margin: 0;
    margin-top: 2px;
    font-size: 13px;
    color: #c0535d;
}

div[id="status"] button, 
div[id="department"] button {
    color: #757e85
}

.btn-group {
    display: unset;
}

.short-description-input {
    display: grid;
}

.short-description-input textarea {
    margin-top: 5px;
}

.department-input {
    display: grid;
    margin-top: 31px;
}

textarea[id="description"] {
    margin-top: 5px;
}

.general-info-title {
    font-size: 1.2rem;
}

 button[type="submit"]{
    width: 12%;
    margin-top: 28px;
    float: right
}