@page "/"

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div>
            <Header />
        </div>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Authorized>
    <NotAuthorized>
        <LT.DigitalOffice.GUI.Pages.Auth.Auth></LT.DigitalOffice.GUI.Pages.Auth.Auth>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
