@page "/projects"

<div data-spy="scroll" data-target="#navbar-example" style="position:relative">
    <div id="navbar-example">
        <ul class="nav nav-tabs" role="tablist">
            bffbbd
        </ul>
    </div>
    <div id="navbar-example">
        <ul class="nav nav-tabs" role="tablist">
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
            <li>fdbdbdb</li>
        </ul>
    </div>
</div>
