@page "/tasks"


@using LT.DigitalOffice.GUI.Pages.ProjectTask.CreateTask

<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Tasks navigation">
        <a 
            href="javascript:void(0)"
            class="nav-link" 
            data-toggle="modal"
            data-target="#Ñreate-task-modal-center">
                Create new task
            </a>
    </nav>
</div>

    <CreateTaskModalWindow />