@page "/tasks"

@using LT.DigitalOffice.GUI.Pages.ProjectTask.CreateTask
@using LT.DigitalOffice.GUI.Pages.ProjectTask.TaskWindow

@inject NavigationManager UriHelper

<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Tasks navigation">
        <a 
            href="javascript:void(0)"
            class="nav-link" 
            data-toggle="modal"
            data-target="#Ñreate-task-modal-center">
                Create new task
            </a>
    </nav>
</div>

    <CreateTaskModalWindow />

    <TaskModalWindow TaskId=@_id/>

<div style="cursor: pointer;" data-toggle="modal" data-target="#task-modal-center">
        Create endpoint for department
</div>

@code {
    private Guid _id;

    protected override void OnInitialized()
    {
        _id = Guid.NewGuid();
    }
}