.tasks {
    width: 75%;

    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.task {
    background-color: #f3f3f3;
    border-radius: 5px;

    margin-bottom: 2%;

    cursor: pointer;
}

.overflow-auto {
    height: 75vh;
    width: 100%;

    padding-right: 1%;
}

.project-addition-info {
    position: relative;
    display: flex;
}

.project h1, h2 {
    font-size: 1.3rem;
}

.project-addition-info p {
    margin-bottom: 0;
}

.overflow-auto::-webkit-scrollbar
{
	width: 5px;
	background-color: #dadada;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-color: #0b5ed7;
}

button[id="showMore"] {
    width: 10%;

    background-color: #0b5ed7;
    border: none;

    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto ;
}

.task-content_general-info {
    margin-bottom: 50px;
}

.task-content_general-info h1 {
    font-size: 18px;
}

.task-content_general-info h2:first-child {
    float: left;
    margin-right: 6%;
}

.task-content_general-info div {
    display: flex;
    float: left;
}

.task-content_additional-info {
    height: 25px;
}

.task-content_additional-info h2 {
    margin-right: 2%;

    float: left;
}

.task-content_additional-info h2:last-child {
    margin-right: 0;

    float: right;
}

.task-content_general-info h2:last-child {
    float: right;
    color: #2bbd7a;
}

h2 {
    font-size: 16px;
}

