@page "/h"
@attribute [Authorize]

@using LT.DigitalOffice.GUI.Services.Interfaces

@inject IExamService _examService

<div class="home-page_container">
    <div class="exams-navigation_container">

    </div>
</div>
