.user-course-page_container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.user-course_exams_container {
    width: 100%;
}

.user-course_exam {
    width: 100%;
    padding: 5px;
    margin: 10px;
    border: solid black 1px;
}

.user-course_exam.closed {
    color: gray;
    background-color: gainsboro;
}

.user-course_exam_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
