@using LT.DigitalOffice.GUI.Properties
@using LT.DigitalOffice.GUI.Shared
@using Services.ApiClients.MessageService

<ModalWindow>
    <Title>
        @Resources.EditWorkspaceWindow
    </Title>
    <Body>
        <label for="name">@Resources.WorkspaceName</label>
        <input 
            id="name" 
            type="text" 
            class="form-control"
            value="@Workspace?.Name" 
            aria-describedby="basic-addon1" 
            @onchange="e => SetValueToPatchDocument(PatchWorkspaceDocumentPath._Name, e.Value)"/>

        <label for="description">
            @Resources.WorkspaceDescription
        </label>
        <textarea rows="3"
            id="description" 
            type="text" 
            class="form-control"
            value=@Workspace?.Description 
            aria-describedby="basic-addon1"
            @onchange="e => SetValueToPatchDocument(PatchWorkspaceDocumentPath._Description, e.Value)">
        </textarea>

        <button 
            type="button" 
            class="btn btn-primary" 
            data-toggle="modal" 
            data-target="#edit-workspace-modal"
            @onclick="EditWorkspaceAsync">
            @Resources.ModalFinishButton
        </button>

    </Body>
</ModalWindow>

<Snackbar DataTarget="edit-workspace-modal" IsSuccessOperation=@_isSuccessOperation Message=@_messageUser />