<div class="dropdown-menu" aria-labelledby="dropdown-menu">
    <a class="dropdown-item" href="#">Remove workspace</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
</div>