@using Blazored.SessionStorage
@using LT.DigitalOffice.GUI.Services.Interfaces
@using LT.DigitalOffice.GUI.Services.ApiClients.MessageService

@inject IMessageService _messageService;
@inject ISessionStorageService _storage;
@inject IJSRuntime JsRuntime;

<div class="@(ChannelData?.Body is null? "hide-content" : "cannel_container")">
    <div class="channel_header">
        <p>here will be channel menu</p>
    </div>
    @if (ChannelData?.Body?.Messages is not null)
    {
        <div class="chat_container" id="chat-list">
            @foreach (var message in ChannelData.Body.Messages.Reverse())
            {
                <LT.DigitalOffice.GUI.Pages.Messenger.Message.Message MessageData="@message" />
            }
            @foreach (var message in NewMessages)
            {
                <LT.DigitalOffice.GUI.Pages.Messenger.Message.Message MessageData="@message" />
            }
        </div>
        <LT.DigitalOffice.GUI.Pages.Messenger.Message.CreateMessage ChannelId="@ChannelData.Body.Id" />
    }
</div>
