.create-position_container {
    display: flex;
    flex-direction: column;
}

.create-position_container label {
    margin: 10px 0;
}

.create-position_actions-container {
    width: 100%;
    min-height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_container {
    width: 70%;

    color: red;
}