.create-user_container,
.create-user_personal-container,
.create-user_service-container,
.create-user_private-container {
    display: flex;
}

.create-user_container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.create-user_personal-container {
    flex-direction: column;
    width: 40%;
}

.create-user_service-container {
    flex-direction: column;

    width: 40%;
}

.create-user_actions-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

label {
    margin: 10px 0;
}

