<div class="header">
    <header class="top-row pl-4 navbar navbar-dark">
        <h1>
            <a href="">Digital Office</a>
        </h1>
    </header>

    <input type="text" class="form-control" placeholder="search item"/>

    <img src="" alt="" class="rounded-circle">
    <p>Ivan Ivanov</p>

    <a href="/" id="Logout">Logout</a>
</div>
