@inherits LayoutComponentBase
@attribute [Authorize]

<div class="page">
    <div>
        <Header />
    </div>

    <div class="sidebar">
        <NavMenu />
    </div>

    <div>
        @Body
    </div>
</div>
