@attribute [Authorize]

@using Blazored.SessionStorage
@using Helpers

@inherits LayoutComponentBase
@inject ISessionStorageService Storage
@inject NavigationManager UriHelper

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <Header />
        <div style="display:flex">
            <div class="body">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
