<div class="nav-menu" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li>
            <NavLink class="nav-link" href="news">
                <span class="oi oi-list-rich" aria-hidden="true"></span> News
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-project" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="workPage">
                <span class="oi oi-task" aria-hidden="true"></span> Work page
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="personalPage">
                <span class="oi oi-person" aria-hidden="true"></span> Personal page
            </NavLink>
        </li>
    </ul>
</div>

@code {

    [Parameter]
    public bool IsPageActive { get; set; }

    private void ToggleNavMenu()
    {
        IsPageActive = true;
    } 
}
