<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="snackbar-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content @(IsSuccesOperation ? "succes" : "fail")">
      <p>
        <img 
          src="/icons/@(IsSuccesOperation ? "succes.png" : "fail.png")" 
          class="rounded mr-2 @(IsSuccesOperation ? "img-succes" : "img-fail")">
        @Message
      </p>
    </div>
  </div>
</div>

@code {

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public bool IsSuccesOperation { get; set; }
}