@using System.Threading.Tasks;
@using LT.DigitalOffice.GUI.Services;
@using LT.DigitalOffice.GUI.Services.Client.AuthService;

@inject IUserService userService

<div class="auth-container">
    <div class="auth-content">
        <h1 class="h1">Digital Office</h1>
        <input
               @bind-value="authData.LoginData"
               type="text"
               class="form-control"
               placeholder="Login or Email or Number"
               @onkeyup="@((k) => {
                               if (k.Code == "Enter" || k.Code == "ArrowDown")
                                   passwordInput.FocusAsync();})"/>
        <input
               @bind-value="authData.Password"
               @ref="passwordInput"
               type="password"
               class="form-control"
               placeholder="Password"
               @onkeyup="@(async (k) => { if (k.Code == "Enter") await Post(); })"/>
        <a>Forgot your password?</a>
        <p class="error_text">@message</p>
        <button class="btn btn-primary" @onclick="@Post">Login</button>
    </div>
</div>

@code {
    private AuthenticationRequest authData = new();
    public string message;
    private ElementReference passwordInput;

    private async Task Post()
    {
        message = await userService.Login(authData);
    }
}
