.nav-link .active .py-3 .border-bottom {
    width: 55px;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.create-workspace-window {
    width: 280px;
    margin-left: 73px;
    padding: 30px 20px;
    background-color: #212529;

    color: white;
    text-align: -webkit-center;
}

.create-workspace-window-hide {
    display: none;
}

.create-workspace-window p {
    font-size: 24px;
    color:white;
}

input {
    margin-top: 10px;
}

label {
    display: flex;
    margin-top: 12px;
}