@page "/messages"
@attribute [Authorize]

<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Messages navigation">
        @for (int i = 0; i < 10; i++)
        {
            <a class="nav-link" href="/messages">Test @i</a>
        }
    </nav>
</div>

<div style="display:flex;">
    <WorkspaceSidebar OpenWorkspace=@OpenWorkspace/>
    <Workspace IsOpenWorkspace=@_isOpenWorkspace/>
</div>

<CreateWorkspace IsOpenCreateWorkspaceWindow=@_isCreateWorkspaceWindow/>

@code {
    private bool _isOpenWorkspace;
    private bool _isCreateWorkspaceWindow;

    private void OpenWorkspace(bool isWorkspace)
    {
        if (isWorkspace)
        {
            _isOpenWorkspace = !_isOpenWorkspace;
        }
        else
        {
            _isCreateWorkspaceWindow = !_isCreateWorkspaceWindow;
        }

        StateHasChanged();
    }

    private void OpenCreateWorkspaceWindow()
    {
        _isCreateWorkspaceWindow = !_isCreateWorkspaceWindow;

        StateHasChanged();
    }
}
